.page-switcher-button {
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: block; 
  font-size: 16px;
  margin: 0; 
  cursor: pointer;
  background-color: #122532;
  width: 100%; 
}

.page-switcher-button:hover {
  background-color: #111; 
}

body {margin:0;}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #122532;
position: fixed;
top: 0;
width: 100%;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #0BA5C7;
}

.main-body {
padding:20px;
margin-top:10px;
background-color:#FFFFFF;
min-height: 100vh;
}

.user-section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.listings-container {
    display: none;
    padding: 10px;
}
.listing {
    border-radius: 25px;
    border: 4px double #73AD21;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.toggle-button {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-top: 10px;
}